<ion-view view-title="Bose Soundtouch App">
  <ion-content>
    <div ng-show="device.serviceName">
      <!--h5>Selected Device: {{device.serviceName}} {{device.hostName}}:{{device.port}}</h5-->

      <div class="list card">

        <div class="item item-avatar">
          <img src="https://www.hificomponents.de/media/image/001_SoundTouch_30_Series_II_white_RGB.jpg">
          <h2>{{device.serviceName}}</h2>
          <p>{{device.hostName}}</p>
        </div>

        <div class="row">
          <div class="col col-50">
            <div class="item item-image">
              <img src="{{soundTouchData.nowPlaying.artUrl}}">
            </div>
          </div>
          <div class="col">
            <h5>{{soundTouchData.nowPlaying.stationName}}</h5>
            {{soundTouchData.nowPlaying.album}} -
            {{soundTouchData.nowPlaying.artist}}<br />
            {{soundTouchData.nowPlaying.track}}<br />
          </div>
        </div>

        <div class="item tabs tabs-stable tabs-icon-only">
          <a class="tab-item" href="#" ng-click="pressKey('PLAY')">
            <i class="fa fa-play"></i>
          </a>
          <a class="tab-item" href="#" ng-click="pressKey('STOP')">
            <i class="fa fa-stop"></i>
          </a>
          <a class="tab-item" href="#" ng-click="pressKey('PREV_TRACK')">
            <i class="fa fa-backward"></i>
          </a>
          <a class="tab-item" href="#" ng-click="pressKey('NEXT_TRACK')">
            <i class="fa fa-forward"></i>
          </a>
        </div>

      </div>

      <div class="item range">
        <i class="icon ion-volume-low"></i>
        <input type="range" name="volume" ng-model="soundTouchData.volume" ng-change="volumeChanged();">
        <i class="icon ion-volume-high"></i>
      </div>
    </div>


    <button class="button button-block button-positive" ng-hide="device.serviceName" ng-click="selectDiscoverTab();">Select Device</button>

    <div>
      {{socketDataDebug}}
    </div>

  </ion-content>
</ion-view>
